@mixin shading {
  box-shadow: inset 0px 2px 2px -2px rgba(255, 255, 255, 0.2), 0px 1px 5px -5px rgba(0, 0, 0, 0.5);
}

@mixin icon($image, $color) {
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-image: $image;
  background-color: $color;
}